# --- COMMON NAS PATH ---
APPS_DATA_DIR=path
MEDIA_DATA_DIR=path

# --- IMMICH ---
IMMICH_VERSION=v2
REDIS_HOSTNAME=redis

# --- IMMICH DATABASE ---
DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich