# --- COMMON NAS PATH ---
APPS_DATA_DIR=
MEDIA_DATA_DIR=

# --- USER ---
PUID=1000
PGID=1000

# --- IMMICH ---
IMMICH_VERSION=v2
REDIS_HOSTNAME=

# --- IMMICH DATABASE ---
DB_PASSWORD=
DB_USERNAME=
DB_DATABASE_NAME=

# --- ROMM ---
ROMM_AUTH_SECRET_KEY=
ROMM_OIDC_CLIENT_ID=
ROMM_OIDC_CLIENT_SECRET=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=