# This is an example environment file for the stack. Copy it to .env and fill in the values.
# SERVER
APPS_DATA_DIR=./data/apps
MEDIA_DATA_DIR=./data/medias
PUID=0
PGID=0

# IMMICH
MEDIA_POSTGRES_USER=
MEDIA_POSTGRES_PASSWORD=

# GLUETUN
VPN_PROVIDER=
VPN_WG_PRIVATE_KEY=
VPN_WG_ADDRESS=
OPENVPN_USER=
OPENVPN_PASSWORD=