LLDAP_JWT_SECRET=openssl rand -base64 32
LLDAP_KEY_SEED=openssl rand -base64 32
LLDAP_ADMIN_PASSWORD_HASHED=$$6$$8pEWKWXVKIorycua$$RzSxS6N2hA8CC0xqzF0F1gXGhvmGcMhRQLlnMzhcoJQ50NAuuuFj7b4/JDtAvWuOQz632N.QokEdMi5KHRyFm/
LLDAP_ADMIN_PASSWORD_PLAIN=password123
# openssl passwd -6 password123 -> for hashed password. Don't forget to escape $ in the password if you use it in the compose.yml file (e.g. Pas$$word sets Pas$word)

LDAP_POSTGRES_USER=lladp_user
LDAP_POSTGRES_PASSWORD=lladp_password

POCKETID_ENCRYPTION_KEY=openssl rand -base64 32
POCKETID_CLIENT_ID=your-pocketid-client-id
POCKETID_CLIENT_SECRET=your-pocketid-client-secret

TINYAUTH_OIDC_CLIENTS_HOMARR_CLIENTID=f2f36fc5-a5a3-4384-b2b6-847788e6ae86
TINYAUTH_OIDC_CLIENTS_HOMARR_CLIENTSECRET=ta-2QPDw21aDkZykCxvyrhO7yTR1oUn4piRwczPCQHEpDSY5eUTrDlZB0BwpRlpP

HOMARR_SECRET_ENCRYPTION_KEY=3475f1776d4b0019854d49c7041114853172369767665d5a5704c7eceef63102