# --- COMMON NAS PATH ---
APPS_DATA_DIR=./apps

# --- USER ---
PUID=0
PGID=0

# --- DATABASE ---
POSTGRES_PASSWORD=password

# --- AUTHENTIK ---
AUTHENTIK_SECRET_KEY=secret
AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_PROXY_TOKEN=proxy_token

AUTHENTIK_EMAIL__HOST=email_hoster
AUTHENTIK_EMAIL__PASSWORD=email_password
AUTHENTIK_EMAIL__PORT=465
AUTHENTIK_EMAIL__USERNAME=email_username
AUTHENTIK_EMAIL__USE_SSL=true
AUTHENTIK_EMAIL__FROM=email_from