# COMMON
APPS_DATA_DIR=./apps

# DATABASE
INFISICAL_DB_USER=infisical
INFISICAL_DB_PASSWORD=infisical_password

# INFISICAL
INFISICAL_ENCRYPTION_KEY=f13dbc92aaaf86fa7cb0ed8ac3265f47
INFISICAL_AUTH_SECRET=5lrMXKKWCVocS/uerPsl7V+TX/aaUaI7iDkgl3tSmLE=