APPS_DATA_DIR=./apps-data
MEDIA_DATA_DIR=./media-data

PUID=3011
PGID=568

JELLYSTAT_DB_USER=postgres
JELLYSTAT_DB_PASSWORD=mypassword
JELLYSTAT_JWT_SECRET=mysecret

BESZEL_AGENT_KEY=key
BESZEL_AGENT_TOKEN=token

PLUTON_ENCRYPTION_KEY=myencryptionkey
PLUTON_USER_NAME=admin
PLUTON_USER_PASSWORD=mypassword