# --- COMMON NAS PATH ---
APPS_DATA_DIR=./apps
FOLDER_PATH=./folders

# --- USER ---
PUID=1000
PGID=1000

# --- POSTGRES COMMON ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres

# --- TRAEFIK ---
ACME_EMAIL=email