# --- COMMON NAS PATH ---
APPS_DATA_DIR=./apps
FOLDER_PATH=./folders

# --- USER ---
PUID=1000
PGID=1000

# --- POSTGRES COMMON ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres

# --- AUTHENTIK ---
AUTHENTIK_SECRET_KEY=secret
AUTHENTIK_POSTGRES_DB=authentik

AUTHENTIK_EMAIL__HOST=email_hoster
AUTHENTIK_EMAIL__PASSWORD=email_password
AUTHENTIK_EMAIL__PORT=465
AUTHENTIK_EMAIL__USERNAME=email_username
AUTHENTIK_EMAIL__USE_SSL=true
AUTHENTIK_EMAIL__FROM=email_from

# --- TRAEFIK ---
ACME_EMAIL=email

# --- TAILSCALE ---
TS_AUTHNAME=tailscale_authname
TS_AUTHKEY=tailscale_key