APPS_DATA_DIR=./apps
MEDIA_DATA_DIR=./media
SSH_DATA_DIR=./ssh

# --- USER ---
PUID=1000
PGID=1000

# --- TAILSCALE ---
TS_AUTHKEY=key

# --- VAULtWARDEN ---
VAULTWARDEN_ADMIN_TOKEN=openssl rand -base64 32