# COMMON
APPS_DATA_DIR=./apps

# DATABASE
INFISICAL_DB_USER=infisical
INFISICAL_DB_PASSWORD=infisical_password

# INFISICAL
INFISICAL_ENCRYPTION_KEY=infisical_encryption_key
INFISICAL_AUTH_SECRET=infisical_auth_secret