# This is an example environment file for the stack. Copy it to .env and fill in the values.
# SERVER
APPS_DATA_DIR=./data/apps
MEDIA_DATA_DIR=./data/medias
PUID=0
PGID=0

# TRAEFIK
ACME_EMAIL=no-reply@le-frigo.fr
TRAEFIK_LOG_DASHBOARD_AUTH_TOKEN=TonTokenUltraSecurise123!

# LLDAP
LLDAP_JWT_SECRET=openssl rand -base64 32
LLDAP_KEY_SEED=openssl rand -base64 32
LLDAP_ADMIN_PASSWORD=password123
LLDAP_SMTP_PASSWORD=your-smtp-password

# POSTGRES
LDAP_POSTGRES_USER=lladp_user
LDAP_POSTGRES_PASSWORD=lladp_password

# POCKETID
POCKETID_ENCRYPTION_KEY=openssl rand -base64 32
POCKETID_CLIENT_ID=your-pocketid-client-id
POCKETID_CLIENT_SECRET=your-pocketid-client-secret

# TINYAUTH
TINYAUTH_OIDC_CLIENTS_HOMARR_CLIENTID=client
TINYAUTH_OIDC_CLIENTS_HOMARR_CLIENTSECRET=secret

TINYAUTH_OIDC_CLIENTS_JELLYSEERR_CLIENTID=client
TINYAUTH_OIDC_CLIENTS_JELLYSEERR_CLIENTSECRET=secret

TINYAUTH_OIDC_CLIENTS_JELLYFIN_CLIENTID=client
TINYAUTH_OIDC_CLIENTS_JELLYFIN_CLIENTSECRET=secret

TINYAUTH_OIDC_CLIENTS_AUDIOBOOKSHELF_CLIENTID=client
TINYAUTH_OIDC_CLIENTS_AUDIOBOOKSHELF_CLIENTSECRET=secret

TINYAUTH_OIDC_CLIENTS_SHELFMARK_CLIENTID=client
TINYAUTH_OIDC_CLIENTS_SHELFMARK_CLIENTSECRET=secret

TINYAUTH_OIDC_CLIENTS_BORGUI_CLIENTID=client
TINYAUTH_OIDC_CLIENTS_BORGUI_CLIENTSECRET=secret

# HOMARR
HOMARR_SECRET_ENCRYPTION_KEY=key

TINYAUTH_OIDC_CLIENTS_JELLYSWEEP_CLIENTID=client
TINYAUTH_OIDC_CLIENTS_JELLYSWEEP_CLIENTSECRET=secret