# --- ADMIN ACCESS ---
ADMIN_EMAIL=email
ADMIN_PASSWORD=password

# --- USER ---
PUID=1000
PGID=1000

APPS_DATA_DIR=./apps
MEDIA_DATA_DIR=./media

# --- OUTLINE ---
OUTLINE_SECRET_KEY=secret-key
OUTLINE_UTILS_SECRET=utils-secret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
OIDC_CLIENT_ID=client-id
OIDC_CLIENT_SECRET=client-secret

# --- MEALIE ---
POSTGRES_MEALIE_USER=mealie
POSTGRES_MEALIE_PASSWORD=mealie-password
MEALIE_OIDC_ID=mealie-oidc-id
MEALIE_OIDC_SECRET=mealie-oidc-secret