# --- ADMIN ACCESS ---
ADMIN_EMAIL=email
ADMIN_PASSWORD=password

# --- USER ---
PUID=1000
PGID=1000

APPS_DATA_DIR=
MEDIA_DATA_DIR=

# --- OUTLINE ---
OUTLINE_SECRET_KEY=
OUTLINE_UTILS_SECRET=
POSTGRES_USER=
POSTGRES_PASSWORD=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=