# --- SYSTEM ---
PUID=puid
PGID=pgid
APPS_DATA_DIR=path
MEDIA_DATA_DIR=path

# --- VPN SECRETS ---
VPN_PROVIDER=vpn_name
OPENVPN_USER=vpn_user
OPENVPN_PASSWORD=vpn_pass
VPN_WG_PRIVATE_KEY=vpn_key
VPN_WG_ADDRESS=10.2.0.2/32
VPN_COUNTRY=vpn_country