# --- SYSTEM ---
APPS_DATA_DIR=./apps
MEDIA_DATA_DIR=./media

# --- USER ---
PUID=1000
PGID=1000

# --- VPN SECRETS ---
VPN_PROVIDER=vpn_name
OPENVPN_USER=vpn_user
OPENVPN_PASSWORD=vpn_pass
VPN_WG_PRIVATE_KEY=vpn_key
VPN_WG_ADDRESS=10.2.0.2/32
VPN_COUNTRY=vpn_country

# --- QBITTORRENT ---
QBITTORRENT_PASS=qBittorrentPassword