APPS_DATA_DIR=./data/apps
MEDIA_DATA_DIR=./data/medias
PUID=0
PGID=0

N8N_ENCRYPTION_KEY=your_encryption_key

LEAFWIKI_JWT_SECRET=your_jwt_secret
LEAFWIKI_ADMIN_PASSWORD=your_admin_password

VAULTWARDEN_ADMIN_TOKEN=your_admin_token